#nav-bar {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;
    position: fixed;
    width: 1350px;
    height: 60px;
    left: 0;
    right: 0;
}

#nav-bar #logo-img {
    height: 60px; 
    margin-top: 10px;
}

#nav-bar a{
    margin-left: 50px;
    cursor: pointer;
    line-height: 60px;
    transition: all 0.3s;
}

#nav-bar a:hover {
    text-shadow: 3px 3px 1px #99DDCC;
}

#nav-bar a:first-child {
    margin-left: 0;
}

/* 모바일 */
@media (max-width: 780px) {
    #nav-bar {
        width: 100vw;
    }

    #nav-bar a{
        margin-left: 2vw;
        font-size: 16px;
    }

    #nav-bar #logo-img {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    #nav-bar #logo-img {
        width: 80px;
    }

    #nav-bar-link a {
        display: none;
    }
}