#Works {
    position: relative;
    border: 1px solid red;
}

.works-bg {
    height: 330px;
    width: 100%;
    background: #99DDCC;
    margin-top: 110px;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 130px;
}

#works-contents {
    width: 100%;
    margin: 100px auto 0;
    position: relative;
    z-index: 1;
    display : flex;
    justify-content : space-between; 
    font-family: 'SUITE-Regular';
}

.works-content {
    width: 260px;
    height: 470px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 6px 6px 1px #000000;
    border-radius: 20px;
    transition: all 0.3s;
}

.works-content:hover {
    transform: scale(1.1);
}

.works-content-img {
    width: 100%;
    margin: 10px auto;
}

.works-content-heading {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.works-content-ul {
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    padding-left: 1vw;
    padding-top: 1vh;
}

.works-content-ul li {
    margin-bottom: 15px;
}

.works-content-ul a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.works-content-ul a:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 21px;
}

/* 모바일 */
@media (max-width: 990px) {
    .works-bg {
        height: 1500px;
        margin-top: 60px;
    }

    #works-contents {
        display: block;
        margin-top: 50px;
        margin-bottom: 160px;
    }

    .works-content {
        height: 100%;
        padding-bottom: 20px;
        margin-bottom: 25px;
    }
}